<div class="container">
    <div class="row mt-5 justify-content-center align-self-center">

        <div class="mt-5 mx-auto p-5 align-self-center">

            <div class="card">
                <h5 class="card-header">Google Drive Image Upload</h5>
                </br>
                <div class="text-center">
                    <img src="../assets/img/google-drive.png" class="img-responsive" width="120px" height="100px"
                        alt="Google Drive">
                </div>
                <div class="card-body">
                    <p class="card-text">Upload Image to your google drive using oAuth authentication</p>
                    <p class="card-text"><small>Sign in with your Google account to upload images to your Google
                            Drive</small></p>
                    <div class="mx-auto align-self-center text-center">
                        <a class="btn btn-success shadow text-white p-2 pr-5 rounded font-weight-light"
                             href="{{authUrl}}">
                            <i class="fab fa-google mx-3 d-inline-block"></i> Sign in with Google
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>